
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}


#ball {
  position:absolute;
  display: block;
  background: black;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin: 0;
  left: 11;
  top: 11;
  background: radial-gradient(circle at 100px 100px, #5cabff, #000);
  transform: rotate(270deg);
  
  animation-name: spinBall; 
  animation-duration: 3s; /* 3 seconds */
  animation-iteration-count: 1; 
  animation-timing-function: linear;
}

@keyframes spinBall {
	from { transform: rotate(270deg); }
	to { transform: rotate(1710deg); }
}

#chatBox {
  
}